<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Historia Clínica de la Mascota</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img src="https://img.freepik.com/foto-gratis/adorable-perro-basenji-marron-blanco-sonriendo-dando-maximo-cinco-aislado-blanco_346278-1657.jpg" class="img-fluid" alt="Imagen de la mascota">
      </div>
      <div class="col-md-8">
        <h5 class="card-title">Nombre de la mascota</h5>
        <p class="card-text">Diagnóstico: Descripción del diagnóstico de la mascota.</p>
        <p class="card-text">Estudios: Descripción de los estudios realizados a la mascota.</p>
      </div>
    </div>
  </div>
</div>
