<header>
  <div class="flex-md-row align-items-center desktop">
    <div class="container-fluid">
      <nav class="list">
        <ul class="d-flex align-items-center justify-content-between m-0 w-100">
          <li class="d-flex">
            <a href="/" class="text-decoration-none">
              <h2 class="display-4 logo">4Pets</h2>
            </a>
          </li>
          <div class="links">
            <li>
              <a class="text-decoration-none" href="home/turnos">Turnos</a>
            </li>
            <li>
              <a class="text-decoration-none" href="home/vet">Veterinarias</a>
            </li>
            <li>
              <a class="text-decoration-none" href="/login">Login</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Mas
              </a>
              <ul class="dropdown-menu mt-4">
                <li><a class="dropdown-item" href="home/profile">Perfil</a></li>
                <li><a class="dropdown-item" href="#">Mascotas</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Configuracion</a></li>
              </ul>
            </li>
            <li class="emergencias">
              <a class=" text-decoration-none">Emergencias</a>
            </li>
          </div>
        </ul>
        <button class="btn btn-outline-light btn_responsive toggle"><ion-icon name="grid-outline"></ion-icon></button>
      </nav>
    </div>
  </div>

  <!-- responsive  -->

  <div class="flex-column flex-shrink-0 responsive">
    <ul class="nav nav-pills nav-flush flex-column mb-auto mt-4 pt-4 text-center">
      <li class="nav-item">
        <a href="#" class="nav-link border-bottom rounded-0 mt-4" aria-current="page" data-bs-toggle="tooltip"
          data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
          <ion-icon name="home-outline"></ion-icon>
          <p>Home</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
          aria-label="Dashboard" data-bs-original-title="Dashboard">
          <ion-icon name="calendar-outline"></ion-icon>
          <p>Turnos</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
          aria-label="Orders" data-bs-original-title="Orders">
          <ion-icon name="business-outline"></ion-icon>
          <p>Veterinarias</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
          aria-label="Products" data-bs-original-title="Products">
          <ion-icon name="people-outline"></ion-icon>
          <p>Profile</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
          aria-label="Products" data-bs-original-title="Products">
          <ion-icon name="people-outline"></ion-icon>
          <p>Exit</p>
        </a>
      </li>
      <li class="emergencias m-1 rounded nav-item">
        <a href="#" class="nav-link rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Customers"
          data-bs-original-title="Customers">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <p>Emergencias</p>
        </a>
      </li>
    </ul>
    <div class="dropdown border-top">
      <a href="#"
        class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</header>
