<header>
  <div class="d-flex flex-md-row align-items-center border-bottom ">
    <div class="container">
      <nav class="list">
        <ul class="d-flex align-items-center m-0 w-100">
          <li class="d-flex">
            <a href="/" class="text-decoration-none logo">
              <h2>4Pets</h2>
            </a>
          </li>
          <div class="links d-flex">
            <li>
              <a class="text-decoration-none" href="home/turnos">Turnos</a>
            </li>
            <li>
              <a class="text-decoration-none" href="home/vet">Veterinarias</a>
            </li>
            <li>
              <a class="text-decoration-none" href="/login">Login</a>
            </li>
            <li class="dropdown show">
              <div class= "dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Dropdown</div>
              <!-- <div class="dropdown-menu show" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div> -->
            </li>
            <li class="emergencias">
              <a class=" text-decoration-none" href="#">Emergencias</a>
            </li>
          </div>
        </ul>
      </nav>
    </div>
  </div>
</header>
