@import '../../../theme/variables.scss';

.search_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.actual_day {
  text-align: end;
  margin-right: 30px;
  color: $color-azul;
}

.datepicker {
  transform: scale(0.9);
}

.cancel {
  font-size: 15px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

h2 {
  font-weight: bold;
}

.column {
  background: #ddd;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-form {
  background-color: #f2f2f2;
  padding: 20px;
}

@media screen and (min-width: 600px) {
  .datepicker {
    transform: scale(1);
  }


  .search {
    width: 50%;
  }

}

@media screen and (min-width: 800px) {

  .datepicker {
    transform: scale(0.7);
  }

  .grid {
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: 30% 600px;
  }

}

@media screen and (min-width: 1000px) {

  .datepicker {
    transform: scale(0.8);
  }

  .grid {
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: 30% 600px;
  }

}

@media screen and (min-width: 1200px) {

  .datepicker {
    transform: scale(0.9);
  }

  .date-picker{
    position: absolute;
    width: 20%;
    right: 4%;
    top: 15%;
  }

}


@media screen and (min-width: 1800px) {

  .datepicker {
    transform: scale(1);
  }

  .grid {
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: 30% 800px;
  }

  .date-picker{
    width: 20%;
    right: 6%;
    top: 10%;
  }

}
