.search_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.actual_day {
  text-align: end;
  margin-right: 30px;
  color: #2b7ef4;
}

.datepicker {
  transform: scale(0.9);
}

.cancel {
  font-size: 15px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

img {
  object-fit: cover;
}

.form {
  width: 95%;
}

h2 {
  font-weight: bold;
}

.column {
  background: #ddd;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-form {
  background-color: #f2f2f2;
  padding: 20px;
}

.modal{
  position: fixed;
  z-index: 1400 !important;
}

@media screen and (min-width: 600px) {
  .datepicker {
    transform: scale(1);
  }


  .search {
    width: 50%;
  }

}

@media screen and (min-width: 800px) {

  .datepicker {
    transform: scale(0.7);
  }

  .grid {
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: 30% 600px;
  }

}

@media screen and (min-width: 1000px) {

  .datepicker {
    transform: scale(0.8);
  }

}

@media screen and (min-width: 1200px) {

  .datepicker {
    transform: scale(0.9);
  }

}
