<div class="grid">
  <div class="ms-2">

    <!-- form filter  -->

    <form class="my-form mt-4 p-4 w-100">
      <h2>
        Buscar turno
      </h2>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location">
      </div>
      <div class="form-group my-4">
        <label for="veterinary">Veterinary</label>
        <input type="text" class="form-control" id="veterinary" name="veterinary">
      </div>
      <div class="form-group">
        <label for="doctor">Doctor</label>
        <input type="text" class="form-control" id="doctor" name="doctor">
      </div>
      <div class="text-center">
        <button class="btn btn-warning mt-4 mx-auto text-center"> enviar </button>
      </div>
    </form>

    <!-- filter date  -->
    <div class="column shadow date-picker">
      <div class="text p-4 d-flex align-items-center justify-content-between">
        <h2 class="m-0">Seleccionar fecha</h2>
      </div>
      <div class="search_container d-flex flex-column pt-4">
        <div class="datepicker mb-4">
          <app-datepicker></app-datepicker>
        </div>
      </div>
    </div>
  </div>



  <!-- shift List  -->

  <div class="list-group w-auto calendar mt-4 ms-4">
    <div class="d-flex justify-content-between">
      <input class="form-control search m-2" type="search" placeholder="Mascota..." aria-label="Search"
        [(ngModel)]='apointmentName' (ngModelChange)="filterByName()">
      <h3 class="actual_day pe-4">Jueves 10, Junio 2023</h3>
    </div>
    <li class="list-group-item list-group-item-action d-flex gap-3 " aria-current="true" *ngFor="let turno of turnos">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">{{turno.mascota}}</h6>
          <p class="mb-0 opacity-75">{{turno.consulta}}</p>
        </div>
        <p class="text-nowrap">{{turno.hora}}
          <br>
          <span *ngIf="userVet" class="cancel">Cancelar</span>
        </p>
      </div>
    </li>
  </div>
</div>
