<div class="container mx-auto w-75 my-5 pt-4 ">
  <div class="grid">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center flex-column">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRODZob7ROpqlx8WXwjueNwTOlC6Qum-yMiyfXiFRXkdhkHgybCpdvM1UpaXCL1ycfO8NI&usqp=CAU"
          alt="" class="rounded-circle shadow m-4">
        <div class="mx-auto">
          <button class="btn btn-outline-primary ">Contacto</button>
          <ul class="list-group contact">
            <li class="list-group-item list-group-item"><span class="email">example@gmail.com</span><span
                class="cell">234-4-123345</span><span class="adress">pinto 12445</span></li>
          </ul>
        </div>
      </div>

      <div class="col-md-8">
        <h2>Nombre del usuario</h2>
        <p><strong>Correo electrónico:</strong> correo@ejemplo.com</p>
        <p><strong>Teléfono:</strong> 1234567890</p>
        <p><strong>País:</strong> País de residencia</p>
        <p><strong>Biografía:</strong> Breve descripción del usuario</p>
      </div>
      <div class="col">
        <div class="icons me-4">
          <ion-icon name="calendar-outline" class="cal_icon rounded p-2 mx-1 mt-4"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="list-group">
    <a class="list-group-item list-group-item-action p-0" aria-current="true" *ngFor="let pet of pets">
      <div class="d-flex w-100 justify-content-between">
        <div class="d-flex">
          <img src="https://img.freepik.com/vector-gratis/cute-dog-logo_1051-3349.jpg" class="m-0" alt="">
          <div >
            <h5 class="mb-1">{{pet.name}}</h5>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small>And some small print.</small>
          </div>
        </div>
        <div class="icons me-3">
          <a href="home/historia/{{pet.id}}">
            <ion-icon name="attach-outline" class="cal_icon rounded p-2 mx-1 mt-4"></ion-icon>
          </a>
        </div>
      </div>
    </a>
  </div>
</div>
