<div class="container mx-auto w-75">
    <div class="grid">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center flex-column">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRODZob7ROpqlx8WXwjueNwTOlC6Qum-yMiyfXiFRXkdhkHgybCpdvM1UpaXCL1ycfO8NI&usqp=CAU"
                    alt="" class="rounded-circle shadow m-4">
                <div class="mx-auto">
                    <button class="btn btn-outline-primary ">Contacto</button>
                    <ul class="list-group contact">
                        <li class="list-group-item list-group-item"><span class="email">example@gmail.com</span><span class="cell">234-4-123345</span><span class="adress">pinto 12445</span></li>
                    </ul>
                </div>
            </div>
            <div class="col">
              <div class="nombre">

              </div>
              <div class="turnos">
                <ion-icon name="calendar-outline" class="cal_icon rounded p-2 mt-4"></ion-icon>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="container list mt-4">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>
</div>
