<ion-content>
  <div class="background">
    <h2 class="mt-4 zindex"><span> 4pet </span> <br> no solo te ayuda a ti sino tambien a tu mejor amigo</h2>
  </div>
  <div class="container-fluid login">
    <div class="card mb-4">
      <div class="card-body">
        <div class="logo mb-4">
          <h2>4Pets</h2>
        </div>
        <app-user></app-user>
        <div class="separator m-4 zindex"></div>
        <button class="btn enter btn-warning p-2 zindex mb-4" type="button">Registrarse</button>
      </div>
    </div>
  </div>
</ion-content>
