<ion-content>
  <div class="background">
    <h2 class="mt-4 zindex"><span> 4pet </span> <br> no solo te ayuda a ti sino tambien a tu mejor amigo</h2>
  </div>
  <div class="container-fluid login">
    <div class="card mb-4">
      <div class="card-body">
        <div class="logo mb-4">
          <h2>4Pets</h2>
        </div>
        <form action="" class="w-100 mb-3 zindex">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="contraseña?">
          </div>
        </form>
        <button class="btn enter btn-warning p-2 zindex mb-4" type="button">Ingresar</button>
        <a href="" class="card-text zindex">olvidaste tu contraseña?</a>
        <div class="separator m-4 zindex"></div>
        <button class="btn btn-primary w-50 p-2 zindex" (click)="navigateToSignIn()">Registrarse</button>
      </div>
    </div>
  </div>
</ion-content>
