
.grid{
  width: 95%;
  display: grid;
  grid-template-columns: 20% 80%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search_container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.search{
  width: 50%;
}

.actual_day{
  text-align: end;
  margin-right: 30px;
  color: #2b7ef4;
}

.cancel{
  font-size: 15px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

img{
  object-fit: cover;
}

.form{
  width: 95%;
}

h2{
  font-weight: bold;
}

.column{
  background: #ddd;
}
