
<div class="grid mt-4">
  <div class="search_container">
    <div class="datepicker">
      <app-datepicker></app-datepicker>
    </div>
  </div>

  <div class="list-group w-auto calendar">
    <div class="d-flex">
      <input class="form-control me-2 search" type="search" placeholder="Mascota..." aria-label="Search"
      [(ngModel)]='shiftName' (ngModelChange)="filterByName()">
      <h3 class="actual_day pe-4">Jueves 10, Junio 2023</h3>
    </div>
    <li class="list-group-item list-group-item-action d-flex gap-3 " aria-current="true"
      *ngFor="let turno of turnos">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">{{turno.mascota}}</h6>
          <p class="mb-0 opacity-75">{{turno.consulta}}</p>
        </div>
        <p class="opacity-50 text-nowrap">{{turno.hora}}
          <br>
          <span class="cancel">Cancelar</span>
        </p>
      </div>
    </li>
  </div>

  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">User</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Dia</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Hora</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </form>
</div>
