@import '../../../theme/variables.scss';

* {
  margin: 0;
  box-sizing: border-box;
}

.presentation {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

.bg {
  position: absolute;
  background-color: #f7f7f7;
  width: 100%;
  padding-top: 5%;
  height: 70%;
  z-index: 0;
  overflow: hidden;
  box-shadow: #444 0 15px 25px -10px;
}

.bg__img {
  width: 100%;
  transform: translateY(100%);
  object-fit: cover;
}

.title  {
  color: $color-azul;
  position: relative;
  top: 100px;
  width: 100%;
  z-index: 10;
  background-color: transparent;
}

.title p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


h1 , p{
  color: $color-azul;
}

.logo {
  background: transparent;
  font-weight: bold;
  color: $color-amarillo;
  margin: 0;
}

.apartado {
  margin-top: 150px;
}

.apartado__cards{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
}


@media screen and (min-width: 400px) {}


@media screen and (min-width: 800px) {

  .title{
    top: 30px;
  }

  .title p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .bg__img {
    height: 100%;
    transform: translateY(0);
  }
}
