<div class="presentation">
  <div class="bg">
    <img class="bg__img"
      src="https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/NVWQSYGX3RC7ZBEHLPLDVXA3PU.jpg" alt="">
  </div>
  <div class="mx-auto text-center w-75 title">
    <h1 class="display-4 fw-normal">Bienvenido</h1>
    <p class="fs-5 lead mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi laudantium iure eveniet
      doloremque autem culpa, amet eligendi sunt, esse laborum fuga fugiat error, aperiam nostrum quisquam laboriosam
      ducimus non aut.</p>
  </div>
</div>

<div class="px-4 pb-5 mb-5 text-center register">
  <h1 class="display-5 fw-bold mb-2">4Pets</h1>
  <div class="row mb-4">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4  mt-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
        popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
        prebuilt components, and powerful JavaScript plugins.</p>
    </div>
  </div>
  <div class="row">
    <div class="d-grid gap-2 d-flex mt-4 justify-content-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Login</button>
      <button type="button" class="btn btn-outline-warning btn-lg px-4">Sign-in</button>
    </div>
  </div>
</div>




<div class="container d-flex justify-content-center flex-column mx-auto apartado">
  <div class=" w-100 mb-4">
    <h1 class="display-5 text-center fw-bold mb-2 p-0">Apartado</h1>
    <p class="text-center lead mb-4   mt-4" >Quickly design and customize responsive mobile-first sites with Bootstrap, the
      world’s most
      popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
      prebuilt components, and powerful JavaScript plugins.</p>
  </div>
</div>

  <div class="apartado__cards mt-4">
    <div class="card flex-md-row mb-4 box-shadow ">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-danger">Emergencias</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Vet24</a>
        </h3>
        <div class="mb-1 text-muted">Abierto</div>
        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
          additional content.</p>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
        alt="Thumbnail [200x250]" style="width: 200px; height: 250px;"
        src="https://lh5.googleusercontent.com/p/AF1QipOW-bDiID34Gn07FBv3zr9nR4stp3JOm6-JhiTg=w1440-h1080-k-no"
        data-holder-rendered="true">
    </div>
    <div class="card flex-md-row mb-4 box-shadow">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-success">De turno</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Post title</a>
        </h3>
        <div class="mb-1 text-muted">Abierto 10-20hs</div>
        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
          additional content.</p>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
        alt="Thumbnail [200x250]" src="https://www.simbiotia.com/wp-content/uploads/diseno-de-clinicas-veterinarias.jpg"
        data-holder-rendered="true" style="width: 200px; height: 250px;">
    </div>
  </div>


